// Imports
@import '../../../node_modules/normalize.css';
@import url("https://fonts.googleapis.com/css?family=Nunito:600,700");

// Variables
$yellow: #FAD157;
$orange: #F19E26;
$text: darken(orange, 6%);
$blue-dark: #00447F;

// Base
body {
    margin: 0;
    background-color: $yellow;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    font-size: 1rem;
}

a {
    color: $blue-dark;
    // text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 0px 30px;
    text-align: center;
}

// Common elements
.jf {
    &-button {
        display: inline-block;
        padding: 13px 23px;
        border-radius: 9px;
        border-bottom: 5px solid darken($orange, 8%);
        background-color: $orange;
        text-decoration: none;
    }

    &-subtitle {
        color: $blue-dark;
    }

    &-work {
        &-element {
            margin: 20px auto;
            position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 10px;
            background-color: pink;
            background-image: url('../../scr/img/work1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);

            &:hover {
                .jf-work-overlay {
                    opacity: 1;
                }
            }
        }

        &-overlay {
            background-color: pink;
            position: absolute;
            opacity: 0;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    }
}

.jf {
    // Header
    &-header {
        background-color: $blue-dark;
        color: $yellow;

        &-main {
            padding: 25px 35px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-secondary {
            padding-left: 0px;
            padding-right: 0px;
            max-height: 0px;
            overflow: hidden;
            background-color: darken($blue-dark, 5%);
            font-size: 16px;

            transition: max-height 0.25s ease-in-out;

            ol {
                padding: 25px 35px;
                margin: 0px;
                list-style: none;

                a {
                    padding: 4px 0px;
                    display: inline-block;
                    width: 100%;
                    color: $yellow;

                    &:hover {
                        // background-color: $blue-dark;
                    }
                }
            }
        }

        h1, &-title {
            margin: 0px;
            padding: 0px;
            font-size: 20px;
        }

        &:hover &-secondary, &-secondary--active {
            max-height: 500px;
        }
    }

    &-icon {
        height: 75px;
        width: auto;
    }

    &-logo {
        height: 100px;
    }

    // Top
    &-top,
    &-bio {
        font-size: 24px;
    }

    &-top {
        padding-top: 70px;
        padding-bottom: 40px;

        p {
            margin-left: auto;
            margin-right: auto;
            max-width: 220px;
        }

        strong {
            color: $blue-dark;
        }

        &-bubble {
            margin-bottom: 1rem;
        }

        .jf-button {
            margin-top: 10px;
            font-size: 20px;
        }
    }

    &-bio {
        p {
            display: block;
            margin: 0 auto;
            max-width: 330px;
        }
    }

    &-footer {
        padding: 3rem 2rem;
        background-color: $orange;
        color: $blue-dark;
        font-size: 1.3rem;
        font-weight: bold;

        ol {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            padding: 0.1rem 0;
        }

        a {
            text-decoration: none;
        }

        &-main {
            margin: 0;
            margin-bottom: 1rem;
            font-size: 1.7rem;
        }
    }
}

// Page specific
.jf-page {
    &--home {
        color: $orange;
    }
}
